{% extends "base_generic.html" %}
{% block menubar %}

{% load static %}  
<link rel="stylesheet" href="{% static 'css/styles_configure.css' %}" />


{% endblock %}
{% block content %}
<br>
<br>

<form method="POST" action="{% url 'login_success' %}">
{% csrf_token %}
<p align="center">
 <option class="container" id='project_name' >Project Name : {{project_name}}</option>
</p>
<HorizontalPanel>
<button type="button" style="float: right;"  class="button2" onclick="addCell();">Add Step</button>
 &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
 

<button type="submit" style="float: left;"  class="button2" >Back</button>
</HorizontalPanel>







</form>
<br>
<br>
<script>
console.log("{{test_time}}");


</script>

<h4 align="center" id="step_time" >Step's Time
 &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; 
 (hh:)<input type='number' id="test_time_hour" value={{test_time_hour}} min=0 max=23 >(mm):<input type='number' id="test_time_minute" value={{test_time_minute}} min=0 max=59 >(ss):<input type='number' id="test_time_second" value={{test_time_second}} min=0 max=23 >
 </h4>
<p id="error_message" style="color:red;display:none;"> * (hh) must be between 0 and 23, (mm) must be between 0 and 59 and (mm) must be between 0 and 59 </p>
<br>

<table id="Mytable" class='responstable'>
	<tr>
    <th> Service/Steps</th>
    {% for step in steps %}
     <th >
     <p>{{step.name}} &nbsp;&nbsp;
      {% load static %}
	  <img src="{% static "images/Delete.png" %}" onclick="delCell(this)" style="display: inline-block;vertical-align: middle; width="30" height="30" alt="Delete Step">
     </p>
     </th>
	{% endfor %}
	</tr > 
</table>
<br>



<script>
function setTable(){
	var table = document.getElementById("Mytable");
	var descriptions = [];
	all_tests = ["VoIP","DATA_LAN_LAN","DATA_LAN_WLAN_2_4_Ghz","DATA_LAN_WLAN_5_Ghz","DATA_WAN_WLAN_5_Ghz","P2P_WLAN_5_Ghz","1xIPTV_WLAN_5_Ghz","2xIPTV_WLAN_5_Ghz","2xIPTV_LAN","WEBUI"]
	var number_of_steps = 0;
	
	{% for step in steps %}
	console.log("{{step.description}}");
	descriptions.push("{{step.description}}");
	number_of_steps=number_of_steps+1;
	{% endfor %}
	
	for(var i=0;i<10;i++){
		var row = table.insertRow(-1);
		for (var j=0;j<number_of_steps+1;j++){
			
			if (j == 0){ 
			row.insertCell(-1).outerHTML="<th>"+all_tests[i]+"</th>" ;
			}
			else {
				row.insertCell(-1).innerHTML = "<td><input type='checkbox' id='"+all_tests[i]+j+"'name='myTextEditBox' value='checked' ></td> ";
				
				}	
			}	
		}	
	
	for (var i=0;i<descriptions.length;i++){
		var des = descriptions[i].split(",");
	
		for (j in des){
			console.log(des[j]+(i+1));
			
			document.getElementById(des[j]+(i+1)).checked = true;
			
		}
		
		
	}
	
	
	
	
	
	
	}



function addCell() {

    var table_rows = document.getElementById("Mytable").rows;
    var number_of_cells = document.getElementById('Mytable').rows[0].cells.length
   
    for (i=0;i<table_rows.length;i++){
	
    if (i == 0){
    var name = "Step_"+number_of_cells;
    
     
    
    table_rows[i].insertCell(-1).outerHTML = "<th ><p>"+name+" &nbsp;&nbsp;{% load static %}<img src=\"{% static 'images/Delete.png' %}\" onclick=\"delCell(this)\" style=\"display: inline-block;vertical-align: middle; width=\"30\" height=\"30\" alt=\"Delete Step\"></p></th>"
   
    }
    else {
    	
    	table_rows[i].insertCell(-1).innerHTML = "<td><input type='checkbox' name='myTextEditBox' value='checked' /></td> ";
    }
    
	}
}
setTable();
</script>

<script>
function delCell(x) {
alert("Cell index is: " + x.parentElement.parentElement.cellIndex);
var index = x.parentElement.parentElement.cellIndex;
var table_rows = document.getElementById("Mytable").rows;
console.log(table_rows);
for (i=0;i<table_rows.length;i++){
console.log(table_rows[i]);
table_rows[i].deleteCell(index);
}
restoreSteps();
}
function restoreSteps() {
	var table_rows = document.getElementById("Mytable").rows;
	
	var table_cells = document.getElementById('Mytable').rows[0].cells;
	
	
	for (i=1;i<table_cells.length;i++){
		
	    var name = "Step_"+i;
	    table_cells[i].outerHTML = "<th ><p>"+name+" &nbsp;&nbsp;{% load static %}<img src=\"{% static 'images/Delete.png' %}\" onclick=\"delCell(this)\" style=\"display: inline-block;vertical-align: middle; width=\"30\" height=\"30\" alt=\"Delete Step\"></p></th>"
	   
	    }
	    	
}
</script>


<HorizontalPanel style="position: absolute; right: 0;" >

<button   class="button2" onclick="restore_default();">Restore Default</button>
   &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
   
<button class="button2" onclick="save()">Save</button>
   &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
   

</HorizontalPanel>
<form method="POST" action="{% url 'after_login' %}">
{% csrf_token %}  
<p align="center">
<button type="submit"  name="Start_Test"  id="Start_Test" class="button3" >Start Test</button>

    <select  id="selections" style="display:none" name="project" class="select">
	<option class="container" value={{project_name}} >{{project_name}}</option>
  	</select> 
 </p>
 </form>  
<br>
<br>
<br>
<br>
<script>
function get_config(){
	var table = document.getElementById('Mytable');
	var number_of_steps = table.rows[0].cells.length;
	
	
	var number_of_tests = table.rows.length;
	
	
	var tests=[];
	var result = {};
	var steps = [];
	
	
	for (k=0;k<number_of_tests;k++){
		console.log(table.rows[k].cells[0].innerHTML);
		tests.push(table.rows[k].cells[0].innerHTML)
	}
	
	for (i=1;i<number_of_steps;i++){
		
		var step_tests = [];
		for (j=1;j<number_of_tests;j++){
			
			
			var check_box = table.rows[j].cells[i].children[0];
			if (check_box.checked == true){
				
				onetest= {"Name":tests[j]};
				step_tests.push(onetest);
			} 
		}	
		
		var oneStep = {
		"Name": "Step_"+i,
		"Tests": step_tests}
		steps.push(oneStep);
		
	}
	result.steps = steps ;
	return(JSON.stringify(steps));
}
</script>

{% csrf_token %}
<script>
function save(){
	//console.log(window.hot.getData());
	config = get_config();
	var test_time_hour = document.getElementById("test_time_hour").value;
	var test_time_minute = document.getElementById("test_time_minute").value;
	var test_time_second = document.getElementById("test_time_second").value;
	
	var times=[];
	var time = {
			"hour": test_time_hour,
			"minute": test_time_minute,
			"second":test_time_second}
	times.push(time);
	final_time = JSON.stringify(times);
	console.log(final_time);
	
	$.ajax({
		    url:"{% url 'save' %}",
		    type: "POST",
		    data: { "json_items" : config ,'time':final_time ,csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val()},
		    success:function(response){
		    	document.getElementById('error_message').style.display='none';  
		    	document.getElementById('step_time').style.color='#024457';
		        alert("success: " + response);
		    },
		    error:function (xhr, textStatus, thrownError){
		    	
		    	document.getElementById('step_time').style.color='red';
		    	document.getElementById('error_message').style.display='block';
		        alert("Time input are not valid !");
		        
		    },

		});
}
</script>


<script type="text/javascript">
function delete_table(){
	var Table = document.getElementById("Mytable");
	Table.innerHTML = "";
}

function restore_default(){
	var table = document.getElementById("Mytable");
	delete_table();
	console.log("table deleted");
	var descriptions = [];
	all_tests = ["VoIP","DATA_LAN_LAN","DATA_LAN_WLAN_2_4_Ghz","DATA_LAN_WLAN_5_Ghz","DATA_WAN_WLAN_5_Ghz","1xIPTV_WLAN_5_Ghz","2xIPTV_WLAN_5_Ghz","P2P_WLAN_5_Ghz","2xIPTV_LAN","WEBUI"];
	
	descriptions = ["VoIP,DATA_LAN_LAN","VoIP,DATA_LAN_WLAN_2_4_Ghz","VoIP,DATA_LAN_WLAN_5_Ghz","VoIP,DATA_WAN_WLAN_5_Ghz","VoIP,1xIPTV_WLAN_5_Ghz","VoIP,2xIPTV_WLAN_5_Ghz","VoIP,P2P_WLAN_5_Ghz","VoIP,P2P_WLAN_5_Ghz,2xIPTV_WLAN_5_Ghz","VoIP,DATA_LAN_WLAN_2_4_Ghz,2xIPTV_WLAN_5_Ghz,P2P_WLAN_5_Ghz,2xIPTV_LAN","VoIP,DATA_LAN_WLAN_2_4_Ghz,2xIPTV_WLAN_5_Ghz,P2P_WLAN_5_Ghz,2xIPTV_LAN,DATA_LAN_WLAN_5_Ghz","VoIP,DATA_LAN_WLAN_2_4_Ghz,2xIPTV_WLAN_5_Ghz,P2P_WLAN_5_Ghz,2xIPTV_LAN,DATA_LAN_WLAN_5_Ghz,DATA_WAN_WLAN_5_Ghz,WEBUI","VoIP,DATA_LAN_WLAN_2_4_Ghz,2xIPTV_WLAN_5_Ghz,P2P_WLAN_5_Ghz,2xIPTV_LAN,DATA_LAN_WLAN_5_Ghz,DATA_WAN_WLAN_5_Ghz,WEBUI,DATA_LAN_LAN"];
	
	var number_of_steps = 12;
	


	var row = table.insertRow(-1);
	for (var j=0;j<number_of_steps+1;j++){
		
		if (j == 0){ 
		row.insertCell(-1).outerHTML="<th> Service/Steps</th>";
		}
		else {
			row.insertCell(-1).outerHTML =" <th ><p>Step_"+j+" &nbsp;&nbsp;{% load static %}<img src='{% static 'images/Delete.png' %}' onclick='delCell(this)' style='display: inline-block;vertical-align: middle; width='30' height='30' alt='Delete Step'></p></th>"
			}	}
	
	
	for(var i=0;i<10;i++){
		var row = table.insertRow(-1);
		for (var j=0;j<number_of_steps+1;j++){
			
			if (j == 0){ 
			row.insertCell(-1).outerHTML="<th>"+all_tests[i]+"</th>" ;
			}
			else {
				row.insertCell(-1).innerHTML = "<td><input type='checkbox' id='"+all_tests[i]+j+"'name='myTextEditBox' value='checked' ></td> ";
				
				}	
			}	
		}	
	
	for (var i=0;i<descriptions.length;i++){
		var des = descriptions[i].split(",");
	
		for (j in des){
			console.log(des[j]+(i+1));
			
			document.getElementById(des[j]+(i+1)).checked = true;
			
		}
		
		
	}
	
	var test_time_hour = document.getElementById("test_time_hour");
	var test_time_minute = document.getElementById("test_time_minute");
	var test_time_second = document.getElementById("test_time_second");
	
	test_time_hour.value=4;
	test_time_minute.value=0;
	test_time_second.value=0;
	
	
	
	console.log("table setted");
	
	
}
</script>




		
{% endblock %}