{% extends "base_generic.html" %}

{% block menubar %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
{% if user.is_authenticated %}
<li>
 {% if user.is_staff %}
<a href="{% url 'admin:index' %}">  Go to Admin page  </a> 
{% endif %}
 &nbsp;		&nbsp; 	
User: {{ user.get_username }} &nbsp; <a href="{% url 'logout' %}?next={% url 'login' %}">  Logout  </a> &nbsp; &nbsp; &nbsp;</li> 
<br>
{% endif %} 
{% endblock %}
{% block other%}
<br>
<a align="center" style="color:red;">{{mess}}</a>
{% endblock %}
<br>

{% block content %}
<form  method="post" action="{% url 'dashbord' %}">
{% csrf_token %}
<br>
<br>
<br>
<br>
<div align="center">
  <HorizontalPanel>
  
  
       <span id ="project_name"class="textstyle3">Select a Step :</span>
   &nbsp; &nbsp;
    <select  name="project" class="select" onclick="reload();">
	{% for project in steps_result %}
	<option class="container" value={{project.name}} >{{project.name}}</option>
	{% endfor %}
    </select> 

 
<span id ="step_project"class="textstyle3">Select a Test :</span>
	&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; 
    <select  name="project" class="select">
	{% for p in all_tests %}
	<option class="container" value={{p.name}} >{{p.name}}</option>
	{% endfor %}
    </select> 
	&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
	
<span id ="step_project"class="textstyle3">Select a Metric:</span>
	&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; 
    <select  name="project" class="select">
	{% for project in projects %}
	<option class="container" value={{project.name}} >{{project.name}}</option>
	{% endfor %}
    </select> 
	&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
	 

	
</HorizontalPanel>
</div>
<br>
<br>
<br>
<br>
    <div align="center">
 
    <input type="submit" name="Start_Test"  id="Start_Test" class="button3" value="Generate View" >
	</div>
</form>
<script type="text/javascript">
<!--

//-->
function reload(){
console.log("reload");
$( document ).ready(function() {
 
         $.getJSON("{% url 'dashbord' %}",
                 function (data) {
                     var json = data['all_tests'];

                     for (var i = 0; i < json.length; i++) {
console.log(json[i]);

                     }

                     
                 });
   
 });

}
</script>



{% endblock %}













