{% extends "base_generic.html" %}

{% block menubar %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
{% if user.is_authenticated %}
<li>
 {% if user.is_staff %}
<a href="{% url 'admin:index' %}">  Go to Admin page  </a> 
{% endif %}
 &nbsp;		&nbsp; 	
User: {{ user.get_username }} &nbsp; <a href="{% url 'logout' %}?next={% url 'login' %}">  Logout  </a> &nbsp; &nbsp; &nbsp;</li> 
<br>
{% endif %} 
{% endblock %}
{% block other%}
<br>
<a align="center" style="color:red;">{{mess}}</a>
{% endblock %}
<br>

{% block content %}
<form  method="post" action="{% url 'after_login' %}">
{% csrf_token %}
<br>
<br>
<br>
<br>
<div align="center">
  <HorizontalPanel>
       <span id ="project_name"class="textstyle3">Select a Project :</span>
    
   &nbsp; &nbsp;
   
    <select  id="selections" name="project" class="select" onclick="save_parameters()">
	{% for project in projects %}
	<option class="container" value={{project.name}} >{{project.name}}</option>
	{% endfor %}
    </select> 
<script >   

function save_parameters(){
	var e = document.getElementById("selections");    
	var id = e.id;  // get the sender's id to save it . 
	var val = e.value; // get the value. 
	localStorage.setItem(id, val);	
	console.log(val);
localStorage.setItem(id, val);}
</script >



<script >
          
        document.getElementById("selections").value = getSavedValue("selections"); 

        //get the saved value function - return the value of "v" from localStorage. 
        function getSavedValue  (v){
 
            return localStorage.getItem(v);
        }
</script>

	&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; 
	<!--<input type="submit" name="Check_Setup" id="Check_Setup" class="button2" value="Check Setup" >
	&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; -->
      <input type="submit" name="Flash_the_DUT" id="Flash_the_DUT" class="button2" value="Flash the DUT" >
	&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    <input type="submit" name="Configure"  id="Configure" class="button2" value="Configure" >
	
</HorizontalPanel>
</div>
<br>
<br>
<br>
<br>
    <div align="center">
 
    <input type="submit" name="Start_Test"  id="Start_Test" class="button3" value="Start Test" >
	</div>
</form>
{% endblock %}













